<header>
    <div class="left">
        <h1>{{title}}</h1>
        <div>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/help">Help</a>
        </div>
    </div>

    <div class="right">
        <form id="dataform">
            <input type="text" id="data" placeholder="City name...">
            <button type="submit" id="submit">Search</button>
        </form>
        <small id="log"></small>
    </div>
    
</header>