<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./base.css">
    <script src="./script.js" defer></script>
    <title>express</title>
</head>

<body>
    {{>header}}
    <div class="main-content">
        <p>Country: <span id="country"></span></p>
        <p>Time: <span id="time"></span></p>
        <p>Tempreture: <span id="temperature"></span></p>
    </div>
    {{>footer}}
</body>

</html>